@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BODY-BG: #19a1ae;
  --CARD-BG: #ffffff;
  --TITLE: #2e3349;
  --LABEL-CO: #6b7082;
  --LINE: #e8e9ec;

  /* SHADOW */
  --CARD-SHADOW: 0rem 3.125rem 6.25rem -1.25rem hsla(197, 84%, 20%, 0.5048);

  /* TYPOGRAPHY */
  --FF: "Kumbh Sans", serif;

  /* TEXT STYLE */
  --TITLE-BOLD : bold 1.125rem var(--FF);
  --TITLE-LIGHT : normal 1.125rem var(--FF);
  --SUBTITLE : normal 0.875rem var(--FF);
  --LABEL : normal 0.625rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--BODY-BG);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -307px -335px, 164px 356px;
  background-size: 622px 621px;
}

/* CARD */
.profile-card {
  width: 326px;
  min-height: 374px;
  background-color: var(--CARD-BG);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--CARD-SHADOW);
  margin: 9.1875rem auto 9.125rem auto;
}

/* TOP HERO */
.profile-card__top-hero {
  width: 100%;
  height: 140px;
  background-image: url(./images/bg-pattern-card.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* PROFILE IMAGE */
.profile-card__profile-image {
  width: 96px;
  height: 96px;
  outline: 5px solid white;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 92px;
  left: 50%;
  transform: translateX(-50%);
}

/* MAIN CONTENT */
.main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* PROFILE CONTENT */
.profile-card__text-content {
  margin: 4.5rem 0rem 1.5rem;
}

.profile-card__profile-name {
  font: var(--TITLE-BOLD );
  color: var(--TITLE);
  margin-bottom: 0.5rem;
}

.profile-card__profile-name span {
  font: var(--TITLE-LIGHT);
  color: var(--LABEL-CO);
  padding-left: 0.5938rem;
}

.profile-card__profile-location {
  font: var(--SUBTITLE);
  color: var(--LABEL-CO);
}

/* LINE */
.line {
  width: 100%;
  height: 1px;
  background-color: var(--LINE);
  margin-bottom: 1.5rem;
}

/* CONTENT FIGURES */
.profile-card__profile-figures {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.profile-card__profile-numbers {
  font: var(--TITLE-BOLD);
  color: var(--TITLE);
  margin-bottom: 0.3125rem;
}

.profile-card__profile-label {
  font: var(--LABEL);
  color: var(--LABEL-CO);
  letter-spacing: 0.0938rem;
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  /* BODY */
  body {
    background-position: -282px -513px, 692px 379px;
    background-size: 978px 976px;
  }

  /* CARD */
  .profile-card {
    width: 350px;
    margin: 10.8125rem auto;
  }
  
  /* PROFILE CONTENT */
  .profile-card__text-content {
    margin: 4.5rem 0rem 1.75rem;
  }

  .profile-card__profile-numbers {
    margin-bottom: .5625rem;
  }
}
