@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}


/* || VARIABLES */
:root {
  /* COLORS */
  --BODY-BG: #19A1AE;
  --CARD-BG: #FFFFFF;
  --TITLE: #2E3349;
  --LABEL: #6B7082;
  --LINE: #E8E9EC;

  /* SHADOW */
  --CARD-SHADOW: 0rem 3.125rem 6.25rem -1.25rem hsla(197, 84%, 20%, 0.5048);

  /* TYPOGRAPHY */
  --FF: "Kumbh Sans", serif;

  /* MOBILE TEXT STYLE */
  --TITLE-BOLD-MOB: bold 1.125rem  var(--FF);
  --TITLE-LIGHT-MOB: normal 1.125rem  var(--FF);
  --SUBTITLE-MOB: normal .875rem  var(--FF);
  --LABEL-MOB: normal .625rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
  
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--BODY-BG);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-position: 123.58% 211.52%, -25.58% -85.52%;
}

/* CARD */
.profile-card {
    max-width: 326px;
    min-height: 374px;
    background-color: var(--CARD-BG);
    border-radius: .9375rem;
    overflow: hidden;
    box-shadow: var(--CARD-SHADOW);
}

/* TOP HERO */
.profile-card__top-hero {
    width: 100%;
    height: 140px;
}

.profile-card__top-hero img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

/* PROFILE IMAGE */
.profile-card__profile-image {
    width: 96px;
    height: 96px;
    outline: .3125rem solid white;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    top: -3rem;
}

/* PROFILE CONTENT */
.profile-card__text-content {
    margin: 4.5rem 0rem 1.5rem 0rem;
}

.profile-card__profile-name {
    font: var(--TITLE-BOLD-MOB);
    color: var(--TITLE);
    margin-bottom: .5rem;
}

.profile-card__profile-name span {
    font: var(--TITLE-LIGHT-MOB);
    color: var(--LABEL);
    padding-left: .5938rem;
}

.profile-card__profile-location {
    font: var(--SUBTITLE-MOB);
    color: var(--LABEL);
}

/* LINE */
.line {
    width: 100%;
    height: 1px;
    background-color: var(--LINE);
    margin-bottom: 1.5rem;
}

/* CONTENT FIGURES */
.profile-card__profile-figures {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.profile-card__profile-numbers {
  font: var(--TITLE-BOLD-MOB);
  color: var(--TITLE);
  margin-bottom: .3125rem;
}

.profile-card__profile-label {
  font: var(--LABEL-MOB);
  color: var(--LABEL);
  letter-spacing: .0938rem;
}
